/* TextMonde.css */
.MondeContainer {
  text-align: center;
  padding: 20px;
  color: #fff;
  max-width: 800px;
  margin: 20px auto;
}

.mondeTitle {
  font-family: 'LBA';
  font-weight: normal;
  font-size: 64px;
  margin-bottom: 20px;
}

.mondeImageContainer {
  display: flex;
  justify-content: center; /* Centre l'image horizontalement */
  margin-bottom: 20px;
}

.mondeImage {
  max-width: 200%; /* Limite la largeur maximale de l'image */
  width: 130%; /* Ajustez cette valeur pour agrandir ou réduire l'image */
  height: auto; /* Maintient le ratio de l'image */
  border-radius: 10px;
}

.mondeContent {
  font-family: 'Lacquer' !important;
  font-size: 20px;
  line-height: 1.6;
}

  