/* src/pages/Yggdrasil/style.module.css */
.container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 200vh; /* Assurez-vous que le contenu dépasse la hauteur de l'écran */
  overflow: hidden;
  background: linear-gradient(180deg, #646A7E, #646A7E, #786386, #8C5C8E);
}

.cloud {
  position: absolute;
  width: 50%; /* Augmenter la taille des nuages */
  height: auto;
  opacity: 1; /* Supprimer l'opacité */
  z-index: 0; /* Ajustez les z-index pour qu'ils soient inférieurs à ceux du header */
  animation: moveClouds 20s linear infinite; /* Ajouter une animation */
}

.cloud1 {
  top: 10%;
  right: 60%;
  animation-duration: 20s; /* Durée spécifique de l'animation pour ce nuage */
}

.cloud2 {
  top: 60%;
  left: 60%;
  animation-duration: 35s; /* Durée spécifique de l'animation pour ce nuage */
  
}

.cloud3 {
  top: 50%;
  animation-duration: 30s; /* Durée spécifique de l'animation pour ce nuage */
  left: -30%;
}

.cloud4 {
  top: 30%;
  left: 50%;
  animation-duration: 25s; /* Durée spécifique de l'animation pour ce nuage */
}

/* Animation keyframes */
@keyframes moveClouds {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(0);
  }
}

.tree {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  z-index: 0; /* Assurez-vous que le z-index est inférieur à celui du header */
  margin-bottom: -15px;
  margin-top: 100px;
}

.worlds {
  position: relative;
  top: 150vh; /* Positionné après l'arbre */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.world-circle {
  position: relative;
  margin: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;  /* ou une couleur transparente si tu veux */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.world-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.world-circle p {
  position: absolute;
  bottom: -20px;  /* ajuste selon tes besoins */
  width: 100%;
  text-align: center;
  color: white;
}

  
  
  