/* src/components/Header/style.module.css */

.headerRelative {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  height: 100px;
  margin-top: 30px;
  /* Autres styles ici */
}

.headerAbsolute {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  height: 100px;
  margin-top: 30px;
  /* Autres styles ici */
}



.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 100px;
  margin: 30px;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav li {
  margin: 0 15px;
  position: relative;
}

.nav a {
  color: white;
  text-decoration: none;
  font-family: 'Lacquer', sans-serif;
  text-transform: capitalize;
  font-size: 24px;
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav a:after,
.nav a:before {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.5s ease;
}

.nav a:after {
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.nav a:before {
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.nav a:hover::before,
.nav a:hover::after {
  width: 100%;
  height: 100%;
  border-color: #fff;
  box-sizing: border-box;
}

.nav a:hover {
  text-decoration: none;
  transform: scale(1.1);
  color: #f0f0f0;
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: auto;
}

.burgerLine {
  width: 100%;
  height: 4px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 744px) {
  .header {
    width: 80%;
  }

  .logo img {
    height: 60px;
  }

  .nav a {
    font-size: 18px;
  }
}

@media (max-width: 340px) {
  .logo img {
    height: 40px;
  }

  .nav a {
    font-size: 16px;
  }

  .nav {
    display: none;
  }

  .nav.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
  }

  .nav ul {
    flex-direction: column;
    width: 100%;
  }

  .nav li {
    margin: 10px 0;
  }

  .burger {
    display: flex;
  }
}
