/* src/components/Footer/style.module.css */
.footerRelative {
  position: relative;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0); /* Transparence pour que le fond soit le même que celui de la page */
  z-index: 500;
  color: white; /* Couleur du texte */
  padding: 20px;
  margin: 20px; /* Ajoute une marge autour du footer */
  margin-bottom: -10px;
}

.footerAbsolute {
  position: absolute;
  bottom: 0;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0); /* Transparence pour que le fond soit le même que celui de la page */
  z-index: 500;
  color: white; /* Couleur du texte */
  padding: 20px;
  margin: 20px; /* Ajoute une marge autour du footer */
}

.ul {
  list-style-type: none; /* Supprime les puces de la liste */
  margin: 0; /* Supprime la marge par défaut */
  padding: 0; /* Supprime le padding par défaut */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.li {
  margin: 5px 0; /* Ajoute une petite marge en bas de chaque élément */
}

a {
  color: white; /* Couleur du texte */
  text-decoration: none; /* Supprime le soulignement par défaut des liens */
  font-family: 'Lacquer', sans-serif; /* Utilise la police 'Lacquer' */
  text-transform: capitalize; /* Met la première lettre de chaque mot en majuscule */
  font-size: 18px; /* Taille de la police */
}

.center img {
  height: 100px; /* Taille par défaut de l'image du logo */
  margin: 0; /* Supprime la marge autour de l'image du logo */
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7)); /* Ajoute une ombre blanche */
}

.left, .right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo {
  height: 100px; /* Taille par défaut */
}

@media (max-width: 744px) {
  .footerRelative, .footerAbsolute {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .left, .right {
    align-items: center;
    margin: 10px 0;
  }

  a {
    font-size: 16px; /* Réduire la taille du texte pour les tablettes */
  }

  .logo {
    height: 60px; /* Taille du logo pour les tablettes */
  }
}

@media (max-width: 340px) {
  a {
    font-size: 14px; /* Réduire encore plus la taille du texte pour les mobiles */
  }

  .center img {
    height: 40px; /* Réduire encore plus la taille du logo pour les mobiles */
  }
}





  
  
  
  
  